.nav {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    border: none;
    height: 1px;
    background-color: #333;
}

.item {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

.container {
    height: 250px;
    width: 85%;
    margin-left: 100px;
    margin-right: 100px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
     gap: 20px;
     



}

#item1 {
    height: 250px;
    width: 40%;
    gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    border: 1px solid #d3d3d3;
}

#item2 {
    height: 250px;
    width: 40%;
    gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    border: 1px solid #d3d3d3;
}
.container1 {
    height: 250px;
    width: 85%;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    



}

#item3 {
    height: 250px;
    width: 40%;
    gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    border: 1px solid #d3d3d3;
}

#item4 {
    height: 250px;
    width: 40%;
    gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    border: 1px solid #d3d3d3;
}
.item11{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}
.container2{

    height: 480px;
    width: 83%;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}
#item5{
    height: 480px;
    width: 32%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    border: 1px solid #d3d3d3;
    flex-direction: column;
    object-fit: cover;
}
#item6{
    height: 480px;
    width: 32%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    border: 1px solid #d3d3d3;
    flex-direction: column;

}
#item7{
    height: 480px;
    width: 32%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    border: 1px solid #d3d3d3;
    flex-direction: column;
}
.container3{

    height: 500px;
    width: 83%;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}
#item8{
    height: 480px;
    width: 32%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    border: 1px solid #d3d3d3;
    flex-direction: column;
}
#item9{
    height: 480px;
    width: 32%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    border: 1px solid #d3d3d3;
    flex-direction: column;

}
#item10{
    height: 480px;
    width: 32%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    border: 1px solid #d3d3d3;
    flex-direction: column;
}
@media screen(max-width 768) {
    
}